<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gestione_computer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <gestione_computer.My.MySettings>
            <setting name="SogliaCriticaPercentuale" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SogliaCriticaEsegui" serializeAs="String">
                <value />
            </setting>
            <setting name="SogliaCriticaEseguiCombo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SogliaCriticaAltroCombo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SogliaCriticaAltroAzione" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SogliaCriticaEseguiAzione" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AvvisoBatteriaAvviso" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SogliaCriticaValoreSecondi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvvisoBatteriaPercentuale" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SogliaCriticaAvviso" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SogliaCriticaValue" serializeAs="String">
                <value>0</value>
            </setting>
        </gestione_computer.My.MySettings>
    </userSettings>
</configuration>
